@using App.Core.Mvc.Knockout
@model Web.ViewModels.Account.RegisterUserViewModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { data_bind = "value: Email" })
                @Html.ValidationMessageFor(m=> m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.UserID)
                @Html.TextBoxFor(m => m.UserID, new { data_bind = "value: UserID" })
                @Html.ValidationMessageFor(m => m.UserID)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { data_bind = "value: Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { data_bind = "value: ConfirmPassword" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        @*<input type="submit" value="Register" />*@
        <input type="button" value="Register" data-bind="click: save"/>
    </fieldset>
}

@section Scripts {
    @Html.KOViewModelInitialize()

    <script type="text/javascript">
        require(['@Url.Content("~/Scripts/Modules/Account/RegisterUser.js")'], function () {
            var options = {
                RegisterNewUserUrl: '@Url.Action("Register","Account")',
                RedirectUrl: '@Url.Action("Index","Home")'
                @*SaveUniversalMaximumUrl: '@Url.TenantAction("SaveUniversalMaximum", "UniversalMaximum")',
                savedConfirmationMessage: '@Html.LocaleString("SaveComfirmationMessage", typeof(CommonTexts))'*@
            }
            RegisterUserViewModelFuntion(options);
        });

    </script>

    @*@Scripts.Render("~/bundles/jqueryval")*@
}
